html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

p {
    color: gray;
    font-size: 16px;
}

video {
    object-fit: contain;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

div {
    display: block;
}
.footer {
    text-align: right;
}
